<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>联系人信息管理</title>
	<link rel="stylesheet" type="text/css" href="../ui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../ui/themes/icon.css">
	<script type="text/javascript" src="../ui/jquery.min.js"></script>
	<script type="text/javascript" src="../ui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../ui/locale/easyui-lang-zh_CN.js"></script>

	<script>
        //点击提交按钮触发该方法提交表单
        // var pagesize;
        // var pagenumber;
        function searchChange(){
            $("#searchCustomerList").submit();
        }
        function addChange(){
            $("#addCustomerList").submit();
        }
        function updateChange(){
            $("#updateCustomerList").submit();
        }
        $(function() {
            //-------------------------------------------------------------------------
            $('#searchCustomerList').form({
                url:'${pageContext.request.contextPath}/CustomerAction_toSelect',
                onSubmit: function (param) {
                    return true;
                },
                success: function (data) {
                    //提交成功,重新加载列表数据
                    $('#search_cust_id').combogrid('grid').datagrid("loadData", $.parseJSON(data));
                }
            });
            $('#addCustomerList').form({
                url:'${pageContext.request.contextPath}/CustomerAction_toSelect',
                onSubmit: function (param) {
                    return true;
                },
                success: function (data) {
                    //提交成功,重新加载列表数据
                    $('#add_cust_id').combogrid('grid').datagrid("loadData", $.parseJSON(data));
                }
            });
            $('#updateCustomerList').form({
                url:'${pageContext.request.contextPath}/CustomerAction_toSelect',
                onSubmit: function (param) {
                    return true;
                },
                success: function (data) {
                    //提交成功,重新加载列表数据
                    $('#update_cust_id').combogrid('grid').datagrid("loadData", $.parseJSON(data));
                }
            });

        })

        function searchForm() {
            $('#searchLinkManList').submit();
        }
        $(function() {
            //-------------------------------------------------------------------------
            $('#searchLinkManList').form({
                url:'${pageContext.request.contextPath}/LinkManAction_search',
                // queryParams:{rows: pagesize,page:pagenumber},
                // rows: pagesize,
                // page:pagenumber,
                onSubmit: function (param) {
                    // var url =  '${pageContext.request.contextPath}/LinkManAction_search';
                    // $('#LinkMan').datagrid('options').url = url;
                    // $('#LinkMan').datagrid("reload");
                    param.rows = $("#LinkMan" ).datagrid("getPager" ).data("pagination" ).options.pageSize;
                    param.page = $("#LinkMan" ).datagrid("getPager" ).data("pagination" ).options.pageNumber;
                    // alert(pagesize);
                    return true;
                },
                success: function (data) {
                    //提交成功,重新加载列表数据
                    $('#LinkMan').datagrid("loadData", $.parseJSON(data));
                }
            });
        })
        function submitForm(){
// submit the form
            $('#addLinkManList').submit();
        }
        $(function() {
            //-------------------------------------------------------------------------
            $('#addLinkMan').window('close'); //页面加载完成,确保窗口关闭
            //-------------------------------------------------------------------------
            $('#addLinkManList').form({
                url: '${pageContext.request.contextPath}/LinkManAction_add',
                onSubmit: function () {
                    // do some check
                    // return false to prevent submit;
                    return true;//让表单直接提交
                },
                success: function (data) { //提交成功后调用的方法
                    $('#addLinkMan').window('close');//提交成功关闭窗口
                    $('#LinkMan').datagrid('reload'); //提交成功,重新加载列表数据
                    $('#addLinkManList').form('clear');//提交成功后,清空表单
                }
            });
        })
        function submitForm2() {
// submit the form
            $('#updateLinkManList').submit();
        }
        $(function () {
            //-------------------------------------------------------------------------
            $('#updateLinkMan').window('close'); //页面加载完成,确保窗口关闭
            //-------------------------------------------------------------------------
            $('#updateLinkManList').form({
                url: '${pageContext.request.contextPath}/LinkManAction_update',
                onSubmit: function () {
                    // do some check
                    // return false to prevent submit;
                    return true;//让表单直接提交
                },
                success: function (data) { //提交成功后调用的方法
                    $('#updateLinkMan').window('close');//提交成功关闭窗口
                    $('#LinkMan').datagrid('reload'); //提交成功,重新加载列表数据
                    $('#updateLinkManList').form('clear');//提交成功后,清空表单
                },
                error:function (data) {
                    $.messager.alert('错误', data, 'error');
                }
            });


            //--------------------------------------------------------------------------
            $('#LinkMan').datagrid({
                title: '联系人列表', //表格标题
                singleSelect: true, //只允许单选
                iconCls: 'icon-tip',//表格标题图标
                //width:700, //宽度
                //height:350, //高度
                nowrap: true,//某列数据较长时,是否需要换行
                striped: true,//是否隔行变色
                collapsible: false,//是否可以折叠表格
                url: '${pageContext.request.contextPath}/LinkManAction_list',//指定表格数据加载的路径
                sortName: 'lkm_id',//指定可以使用哪列进行排序
                sortOrder: 'asc',//指定默认排序规则 asc/desc
                remoteSort: false,//是否支持远程
                idField: 'lkm_id', //那一列是id列
                frozenColumns: [[
                    {field: 'ck', checkbox: true},
                    {title: '联系人编号', field: 'lkm_id', width: 80, sortable: true ,hidden:true}
                ]],
                columns: [[
                    {field: 'lkm_name', title: '联系人名称', width: 120},
                    {field: 'lkm_cust_id', title: '联系人所属客户', width: 220,formatter:function(value,row,index){
                            if(row.customer){
                                return row.customer.cust_name;
                            }}},
                    {field: 'lkm_gender', title: '性别', width: 220,formatter:function(value,row,index) {
                            return value == '1' ? '男' : '女';
                        }},
                    {field: 'lkm_phone', title: '办公电话', width: 220},
                    {field: 'lkm_mobile', title: '手机', width: 220}
                ]],
                pagination: true,
                rownumbers: true,
                toolbar: [{ //配置工具栏
                    id: 'btnadd',
                    text: '添加联系人',
                    iconCls: 'icon-add',
                    handler: function () {
                        // $('#btndelete').linkbutton('enable');
                        //打开前清空表单
                        $('#addLinkManList').form('clear');
                        //打开表单窗口
                        $('#addLinkMan').window('open');
                    }
                }, {
                    id: 'btnupdate',
                    text: '修改联系人',
                    iconCls: 'icon-save',
                    handler: function () {
                        //获得被选中的联系人的id
                        var lkm_id = getSelected();
                        if (!lkm_id) {
                            // alert("请选择联系人!");
                            $.messager.alert('消息提醒','请选择联系人!','error');
                            return;

                        }else{$('#btndelete').linkbutton('enable');}
                        //根据id回显数据
                        $('#updateLinkManList').form('load', '${pageContext.request.contextPath}/LinkManAction_toEdit?lkm_id=' + lkm_id);
                        $('#updateLinkManList').form({onLoadSuccess:function(value,row,index) {
                                if (value.customer) {
                                    $('#update_cust_id').combogrid('setValue', value.customer.cust_id).combobox('setText', value.customer.cust_name)
                                }
                            }
                        });
                        //打开编辑窗口
                        $('#updateLinkMan').window('open');

                    }
                }, '-', {
                    id: 'btndelete',
                    text: '删除联系人',
                    disabled: true, //禁用属性
                    iconCls: 'icon-cut',
                    handler: function () {
                        $('#btndelete').linkbutton('disable');//点击后按钮是否可以继续点击
                        //获得被选中的联系人id
                        //获得被选中的联系人的id
                        var lkm_id = getSelected();
                        //判断id不能为空
                        if (!lkm_id) {
                            $.messager.alert('消息提醒','请选择联系人!','error');
                            return;
                        }
                        //调用ajax异步发送请求删除联系人
                        $.get("${pageContext.request.contextPath}/LinkManAction_delete?lkm_id=" + lkm_id, function (data) {
                            //删除成功后,刷新列表
                            $('#LinkMan').datagrid('reload'); //提交成功,重新加载列表数据
                        });
                    }
                }]
            });
//            var page = $('#test').datagrid('options').pageNumber;//pageNumber为datagrid的当前页码
//            var rows = $('#test').datagrid('options').pageSize;//多少条数据
            var p = $('#LinkMan').datagrid('getPager');
            $(p).pagination({
                onBeforeRefresh: function () {
                    //alert('before refresh');
                }
            });
            $('#LinkMan').datagrid({
                toolbar:"#searchLinkMan",
                onCheck:function(index,row){
                    var selected = $('#LinkMan').datagrid('getSelected');
                    if (selected) {
                        $('#btndelete').linkbutton('enable');
                    }
                }
            })

            //添加客户拜访下拉框
            $('#search_cust_id').combogrid({
                panelWidth:450,
                mode:'remote',
                delay:1000,
                idField:'cust_id',
                textField:'cust_name',
				toolbar:"#searchCustomer",
                url:'${pageContext.request.contextPath}/CustomerAction_toSelect',
                columns: [[
                    {field: 'cust_name', title: '客户名称', width: 120},
                    {field: 'cust_source', title: '客户信息来源', width: 220,formatter:function(value,row,index){
                            if(row.cust_source){
                                return row.cust_source.dict_item_name;
                            }}},
                    {field: 'cust_industry', title: '客户所属行业', width: 220,formatter:function(value,row,index){
                            if(row.cust_industry){
                                return row.cust_industry.dict_item_name;
                            }}},
                    {field: 'cust_level', title: '客户级别', width: 220,formatter:function(value,row,index){
                            if(row.cust_level){
                                return row.cust_level.dict_item_name;
                            }}},
                    {field: 'cust_phone', title: '固定电话', width: 220},
                    {field: 'cust_mobile', title: '移动电话', width: 220}
                ]]
            });
            $('#add_cust_id').combogrid({
                panelWidth:450,
                mode:'remote',
                delay:1000,
                idField:'cust_id',
                textField:'cust_name',
                toolbar:"#addCustomer",
                url:'${pageContext.request.contextPath}/CustomerAction_toSelect',
                columns: [[
                    {field: 'cust_name', title: '客户名称', width: 120},
                    {field: 'cust_source', title: '客户信息来源', width: 220,formatter:function(value,row,index){
                            if(row.cust_source){
                                return row.cust_source.dict_item_name;
                            }}},
                    {field: 'cust_industry', title: '客户所属行业', width: 220,formatter:function(value,row,index){
                            if(row.cust_industry){
                                return row.cust_industry.dict_item_name;
                            }}},
                    {field: 'cust_level', title: '客户级别', width: 220,formatter:function(value,row,index){
                            if(row.cust_level){
                                return row.cust_level.dict_item_name;
                            }}},
                    {field: 'cust_phone', title: '固定电话', width: 220},
                    {field: 'cust_mobile', title: '移动电话', width: 220}
                ]]
            });
            $('#update_cust_id').combogrid({
                panelWidth:450,
                mode:'remote',
                delay:1000,
                idField:'cust_id',
                textField:'cust_name',
                toolbar:"#updateCustomer",
                url:'${pageContext.request.contextPath}/CustomerAction_toSelect',
                columns: [[
                    {field: 'cust_name', title: '客户名称', width: 120},
                    {field: 'cust_source', title: '客户信息来源', width: 220,formatter:function(value,row,index){
                            if(row.cust_source){
                                return row.cust_source.dict_item_name;
                            }}},
                    {field: 'cust_industry', title: '客户所属行业', width: 220,formatter:function(value,row,index){
                            if(row.cust_industry){
                                return row.cust_industry.dict_item_name;
                            }}},
                    {field: 'cust_level', title: '客户级别', width: 220,formatter:function(value,row,index){
                            if(row.cust_level){
                                return row.cust_level.dict_item_name;
                            }}},
                    {field: 'cust_phone', title: '固定电话', width: 220},
                    {field: 'cust_mobile', title: '移动电话', width: 220}
                ]]
            });
        });



        function resize() {
            $('#LinkMan').datagrid('resize', {
                width: 700,
                height: 400
            });
        }

        //获得被选中的
        function getSelected() {
            var selected = $('#LinkMan').datagrid('getSelected');
            if (selected) {
                return selected.lkm_id;
            }
        }

        function getSelections() {
            var ids = [];
            var rows = $('#LinkMan').datagrid('getSelections');
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].code);
            }
            alert(ids.join(':'));
        }

        function clearSelections() {
            $('#LinkMan').datagrid('clearSelections');
        }

        function selectRow() {
            $('#LinkMan').datagrid('selectRow', 2);
        }

        function selectRecord() {
            $('#LinkMan').datagrid('selectRecord', '002');
        }

        function unselectRow() {
            $('#LinkMan').datagrid('unselectRow', 2);
        }

        function mergeCells() {
            $('#LinkMan').datagrid('mergeCells', {
                index: 2,
                field: 'addr',
                rowspan: 2,
                colspan: 2
            });
        }

	</script>
</head>
<body>
<table id="LinkMan"></table>
<!-- --------------------------------------------------------------------------- -->
<div id="searchCustomer" style="padding:2px 5px;">
	<form id="searchCustomerList" method="post" novalidate>
		客户名称:<input  type="easyui-textbox" name="cust_name" style="width:110px" onchange="searchChange()">
	</form>
</div>
<div id="addCustomer" style="padding:2px 5px;">
	<form id="addCustomerList" method="post" novalidate>
		客户名称:<input  type="easyui-textbox" name="cust_name" style="width:110px" onchange="addChange()">
	</form>
</div>
<div id="updateCustomer" style="padding:2px 5px;">
	<form id="updateCustomerList" method="post" novalidate>
		客户名称:<input  type="easyui-textbox" name="cust_name" style="width:110px" onchange="updateChange()">
	</form>
</div>
<div id="searchLinkMan" style="padding:2px 5px;">
	<form id="searchLinkManList" method="post" novalidate>
		联系人名称:<input  type="text" name="lkm_name" style="width:110px">
		所属客户: <input name="customer.cust_id" id ="search_cust_id" style="width:110px">
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="searchForm()">查询</a>
	</form>
</div>
<div id="addLinkMan" class="easyui-window" title="添加联系人" iconCls="icon-save" style="width:600px;height:270px;padding:5px;">
	<div style="background:#fafafa;padding:10px;width:555px;height:180px;">
		<form id="addLinkManList" method="post" novalidate>
			<input  type="hidden" name="lkm_id"  >
			<table cellpadding="5">
				<tr>
					<td>联系人名称:</td>
					<td><input  type="text" name="lkm_name" required="true"></input></td>
					<td>所属客户:</td>
					<td>
						<input name="customer.cust_id" id = "add_cust_id" style="width:175px"/>
					</td>
				</tr>

				<tr>
					<td>性别:</td>
					<td><input type="radio" value="1" name="lkm_gender">男
						<input type="radio" value="2" name="lkm_gender">女</td>
					<td>办公电话:</td>
					<td><input name="lkm_phone"/></td>
				</tr>
				<tr>
					<td>手机:</td>
					<td><input name="lkm_mobile" /></td>
				</tr>
				<tr>
					<td colspan="4">
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" style="padding:5px 0px;" onclick="submitForm()">提交</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id="updateLinkMan" class="easyui-window" title="修改联系人" iconCls="icon-save" style="width:600px;height:270px;padding:5px;">
	<div style="background:#fafafa;padding:10px;width:555px;height:180px;">
		<form id="updateLinkManList" method="post" novalidate>
			<input  type="hidden" name="lkm_id"  >
			<table cellpadding="5">
				<tr>
					<td>联系人名称:</td>
					<td><input  class="easyui-validatebox" name="lkm_name" required="true"></input></td>
					<td>所属客户:</td>
					<td>
						<input name="customer.cust_id" id = "update_cust_id" style="width:175px"/>
					</td>
				</tr>

				<tr>
					<td>性别:</td>
					<td><input type="radio" value="1" name="lkm_gender" id = "update_male">男
						<input type="radio" value="2" name="lkm_gender" id = "update_female">女</td>
					<td>办公电话:</td>
					<td><input name="lkm_phone"/></td>
				</tr>
				<tr>
					<td>手机:</td>
					<td><input name="lkm_mobile" /></td>
				</tr>
				<tr>
					<td colspan="4">
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" style="padding:5px 0px;" onclick="submitForm2()">保存</a>
					</td>
				</tr>
			</table>
		</form>
	</div>

</div>
</body>
</html>
